@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold Italic';
  src: url("../fonts/OpenSans-SemiBoldItalic.eot");
  src: url("../fonts/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url("../fonts/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Light';
  src: url("../fonts/Raleway-Light.eot");
  src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marck Script Regular';
  src: url("../fonts/MarckScript-Regular.eot");
  src: url("../fonts/MarckScript-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MarckScript-Regular.woff") format("woff"), url("../fonts/MarckScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Magistral';
  src: url("../fonts/MagistralBlackC.ttf");
  src: url("../fonts/MagistralBlackC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

.wrapper {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-main {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 120px;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.contacts-phone, .contacts-email, .contacts-social, .contacts-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts-phone_title, .contacts-email_title, .contacts-social_title, .contacts-lang_title {
  color: #ffffff;
  font-family: 'Open Sans Regular';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-right: 10px;
}

.contacts-phone_tel, .contacts-phone_mail, .contacts-email_tel, .contacts-email_mail, .contacts-social_tel, .contacts-social_mail, .contacts-lang_tel, .contacts-lang_mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts-phone_tel a, .contacts-phone_mail a, .contacts-email_tel a, .contacts-email_mail a, .contacts-social_tel a, .contacts-social_mail a, .contacts-lang_tel a, .contacts-lang_mail a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans Regular';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contacts-phone_tel a:hover, .contacts-phone_mail a:hover, .contacts-email_tel a:hover, .contacts-email_mail a:hover, .contacts-social_tel a:hover, .contacts-social_mail a:hover, .contacts-lang_tel a:hover, .contacts-lang_mail a:hover {
  text-decoration: none;
  color: #6de315;
}

.contacts-phone_icon, .contacts-email_icon, .contacts-social_icon, .contacts-lang_icon {
  padding: 2px 4px;
  font-size: 16px;
  background: #eaeaea;
  margin-right: 10px;
  border-radius: 3px;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contacts-phone_icon:hover, .contacts-email_icon:hover, .contacts-social_icon:hover, .contacts-lang_icon:hover {
  text-decoration: none;
  color: #6de315;
}

.contacts-phone_flags, .contacts-email_flags, .contacts-social_flags, .contacts-lang_flags {
  margin-left: 20px;
}

.contacts-phone_flags img, .contacts-email_flags img, .contacts-social_flags img, .contacts-lang_flags img {
  width: 30px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo_img {
  width: 70px;
  height: 70px;
}

.header-logo_slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-logo_slogan span:first-child {
  color: #6de315;
  font-family: 'Magistral', 'Arial', sans-serif;
  font-size: 30px;
}

.header-logo_slogan span:last-child {
  color: #eee4e4;
  font-family: 'Marck Script Regular', 'Arial', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: -2px;
}

.header-nav {
  width: 600px;
  height: 100%;
}

.header-nav ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header-nav ul li a {
  opacity: 0.69;
  color: #ffffff;
  font-family: 'Open Sans Semibold', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1.3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-nav ul li a:hover {
  color: #6de315;
}

.slider {
  max-width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider .items {
  -webkit-animation: fade 1.5s;
          animation: fade 1.5s;
  position: relative;
  width: 100%;
  height: 100vh;
}

.slider .items .slider-title {
  position: absolute;
  width: 500px;
  top: 30%;
  left: 10%;
}

.slider .items .slider-title_logo-img {
  width: 100%;
}

.slider .items .slider-title_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 5px;
  margin: 30px 0;
}

.slider .items .slider-title_items span, .slider .items .slider-title_items p {
  opacity: 0.8;
  color: #ffffff;
  font-family: 'Raleway Regular';
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
}

.slider .items .slider-title_items h1 {
  color: #ffffff;
  font-family: 'Raleway Bold';
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.slider .items .slider-title_button {
  padding: 10px 30px;
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #ffffff;
  text-decoration: none;
  margin-left: 5px;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

.slider .truck-bg {
  background: url(../img/bg_truck.jpg) bottom center no-repeat;
  background-size: cover;
}

.slider .car-bg {
  background: url(../img/rentacar.jpg) bottom center no-repeat;
  background-size: cover;
}

.slider .office-bg {
  background: url(../img/office-bg.jpg) bottom center no-repeat;
  background-size: cover;
}

.slider .heavy-bg {
  background: url(../img/heavy-trucks.jpg) bottom center no-repeat;
  background-size: cover;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.section-about {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #f5f5f5;
}

.section-about h3 {
  color: #212121;
  font-family: 'Raleway Regular';
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}

.section-about hr {
  border: none;
  width: 100px;
  height: 2px;
  background: #ff8b38;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-title {
  width: 60%;
}

.about-title p {
  color: #86878b;
  font-family: "Open Sans Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.about-title p:nth-child(3) {
  margin-bottom: 40px;
}

.about-title .contact-us {
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 30px;
  background: #ff8b38;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.about-img img {
  width: 400px;
}

.section-advantage {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage h3 {
  color: #212121;
  font-family: 'Raleway Regular';
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.advantage hr {
  border: none;
  width: 100px;
  height: 2px;
  background: #ff8b38;
}

.advantage span {
  color: #86878b;
  font-family: "Open Sans Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.advantage-cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}

.advantage-cards_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 265px;
}

.advantage-cards_item-icon {
  width: 70px;
  height: 70px;
  border: 2px solid #ff8b38;
  font-size: 28px;
  color: #ff8b38;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage-cards_item h4 {
  color: #333333;
  font-family: "Open Sans Regular";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.advantage-cards_item span {
  color: #86878b;
  font-family: "Open Sans Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.section-service {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #f5f5f5;
}

.section-service h3 {
  color: #212121;
  font-family: 'Raleway Regular';
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.section-service hr {
  border: none;
  width: 100px;
  height: 2px;
  background: #ff8b38;
  margin-bottom: 40px;
}

.service-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
}

.service-items_img {
  -webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  max-height: 300px;
}

.service-items_description {
  width: 500px;
}

.service-items_description h4 {
  color: #212121;
  font-family: "Open Sans Regular";
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  margin-top: 0;
}

.service-items_description p {
  color: #86878b;
  font-family: "Open Sans Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}

.service-items_description a {
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 30px;
  background: #ff8b38;
  border-radius: 5px;
  text-decoration: none;
}

.service-items_description a:hover {
  text-decoration: none;
  color: #fff;
}

.section-calculator {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(../img/calculator.png) center no-repeat;
  background-size: cover;
}

.section-calculator h3 {
  color: #212121;
  font-family: 'Raleway Regular';
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.section-calculator hr {
  border: none;
  width: 100px;
  height: 2px;
  background: #ff8b38;
  margin-bottom: 40px;
}

.section-calculator .calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-calculator .calculator-result {
  width: 45%;
}

.section-calculator .calculator-result h4 {
  color: #212121;
  font-family: 'Raleway Bold';
  font-size: 18px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.section-calculator .calculator-result_items {
  width: 100%;
  height: 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-calculator .calculator-result_items__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.section-calculator .calculator-result_items__data span {
  line-height: 20px;
  font-family: 'Open Sans Semibold';
  font-size: 16px;
  color: #212121;
}

.section-calculator .calculator-result_items__data input {
  width: 25%;
  border: none;
  outline: none;
  border-bottom: 2px solid #ff8b38;
  background: transparent;
  padding: 3px 15px;
  margin-bottom: 29px;
  line-height: 20px;
  font-family: 'Open Sans Semibold';
  font-size: 16px;
  color: #212121;
  text-align: right;
}

.section-calculator .calculator-result_items__data input::-webkit-outer-spin-button, .section-calculator .calculator-result_items__data input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.section-calculator .calculator-result_items__data #totalMonth, .section-calculator .calculator-result_items__data #totalPercent, .section-calculator .calculator-result_items__data #totalPrepaid {
  -webkit-appearance: none;
  height: 1px;
  background: #ff8b38;
  border-radius: 3px;
}

.section-calculator .calculator-result_items__data #totalMonth::-webkit-slider-thumb, .section-calculator .calculator-result_items__data #totalPercent::-webkit-slider-thumb, .section-calculator .calculator-result_items__data #totalPrepaid::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff8b38;
  -webkit-box-shadow: 0 0 4px 3px #fff;
          box-shadow: 0 0 4px 3px #fff;
}

.section-calculator .calculator-result .count-btn {
  width: 200px;
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 15px;
  line-height: 20px;
  padding: 10px 30px;
  background: #ff8b38;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.section-partners {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-partners h3 {
  color: #212121;
  font-family: 'Raleway Regular';
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.section-partners hr {
  border: none;
  width: 100px;
  height: 2px;
  background: #ff8b38;
  margin-bottom: 40px;
}

.section-partners .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-partners .partners .partners-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-partners .partners .partners-logo a img {
  max-width: 180px;
}

footer {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
  background: #333333;
}

footer .copyright {
  color: #ffffff;
  font-family: 'Open Sans Regular';
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
}

footer .footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0 0 7px 3px #eaeaea;
          box-shadow: 0 0 7px 3px #eaeaea;
  padding: 20px;
  border-radius: 5px;
}

footer .footer-block .footer-logo-img {
  width: 300px;
  margin-bottom: 30px;
}

footer .footer-block .footer-company p {
  line-height: 20px;
  font-family: 'Open Sans Regular';
  font-size: 14px;
  color: #ffffff;
  width: 300px;
  text-align: justify;
}

footer .footer-block .footer-contacts {
  width: 365px;
}

footer .footer-block .footer-contacts h4 {
  color: #6de315;
  font-family: 'Raleway Bold';
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

footer .footer-block .footer-contacts-phone, footer .footer-block .footer-contacts-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px;
}

footer .footer-block .footer-contacts-phone_title, footer .footer-block .footer-contacts-email_title {
  color: #6de315;
  font-family: 'Open Sans Regular';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-right: 10px;
}

footer .footer-block .footer-contacts-phone_tel, footer .footer-block .footer-contacts-phone_mail, footer .footer-block .footer-contacts-email_tel, footer .footer-block .footer-contacts-email_mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-block .footer-contacts-phone_tel span, footer .footer-block .footer-contacts-phone_mail span, footer .footer-block .footer-contacts-email_tel span, footer .footer-block .footer-contacts-email_mail span {
  color: #9fd477;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Raleway Light';
  margin-top: 5px;
}

footer .footer-block .footer-contacts-phone_tel a, footer .footer-block .footer-contacts-phone_mail a, footer .footer-block .footer-contacts-email_tel a, footer .footer-block .footer-contacts-email_mail a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans Regular';
}

footer .footer-block .footer-contacts-phone_tel a:hover, footer .footer-block .footer-contacts-phone_mail a:hover, footer .footer-block .footer-contacts-email_tel a:hover, footer .footer-block .footer-contacts-email_mail a:hover {
  text-decoration: none;
  color: #ff8b38;
}

footer .footer-block .footer-contacts-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-block .footer-contacts-adress span:nth-child(1) {
  color: #6de315;
  font-family: 'Open Sans Regular';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

footer .footer-block .footer-contacts-adress span:nth-child(2) {
  color: #ffffff;
  font-family: 'Open Sans Regular';
  font-size: 15px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-app {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
  height: 775px;
  border-radius: 5px;
  background: #fff;
}

.modal-app .modal-app_close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #ff8b38;
  font-size: 30px;
  cursor: pointer;
}

.modal-app .modal-app_close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.modal-callback {
  width: 500px;
  position: relative;
  display: none;
}

.modal-callback_close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */