@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Raleway Regular';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Regular.woff') format('woff'),
         url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
     font-family: 'Marck Script Regular';
     src: url('../fonts/MarckScript-Regular.eot');
     src: url('../fonts/MarckScript-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/MarckScript-Regular.woff') format('woff'),
          url('../fonts/MarckScript-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
     }

@font-face {
     font-family: 'Magistral';
     src: url('../fonts/MagistralBlackC.ttf');
     src: url('../fonts/MagistralBlackC.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
     }